
{% extends "base.html" %}
  {% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/login" method="POST">
            {{loginform.csrf_token}}
            <div class="form-group">
              {{loginform.email(placeholder="Email", class="form-control" , autofocus=1)}}
            </div>
            <div class="form-group">
              {{loginform.password(placeholder="Password", class="form-control")}}
            </div>
              {{loginform.submit(value="Sign in", class="btn btn-success")}}
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  {% endblock %}

  {% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Waiter Caller</h1>
        <p>Your patrons can call their waiter anytime, using only their smart phone</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Simple</h2>
          <p>Just print out the URLs and put them on the tables of your restaurant. No specialized hardware required. </p>
        </div>
        <div class="col-md-4">
          <h2>Cost effective</h2>
          <p>No need to buy hardware either for your tables or for your kitchen. Management and usage all directly from this page.</p>
       </div>
        <div class="col-md-4">
          <h2>Register now</h2>
             <form class="form-horizontal" action="/register" method="POST">
              {{ registrationform.csrf_token }}
                <div class="form-group">
                    <div class="col-sm-9">
                      {% if registrationform.email.errors %}
                        <ul class="errors">
                          {% for error in registrationform.email.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                      {{registrationform.email(placeholder="Email address", class="form-control")}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                      {% if registrationform.password.errors %}
                        <ul class="errors">
                          {% for error in registrationform.password.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                      {{registrationform.password(placeholder="Password", class="form-control")}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                      {% if registrationform.password2.errors %}
                        <ul class="errors">
                          {% for error in registrationform.password2.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                      {{registrationform.password2(placeholder="Confirm password", class="form-control")}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                      {{registrationform.submit(value="Register", class="btn btn-primary btn-block")}}
                    </div>
                </div>
            </form> <!-- /form -->
        </div>
      </div>
{% endblock %}

{% block modal %}
  {% if successRegistration %}
    <div class="modal" id ="RegistrationModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Registeration Successful</h4>
        </div>
        <div class="modal-body">
          <p>Login to access your account&hellip;</p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script type="text/javascript">
    $('#RegistrationModal').modal('show');
  </script>
{% endif %}

  {% if loginfail %}
    <div class="modal" id ="LoginModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Login Error</h4>
        </div>
        <div class="modal-body">
          <p>
          {% if loginform.email.errors %}
            <ul class="errors">
              {% for error in loginform.email.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          </p>
          <p>
          {% if loginform.password.errors %}
            <ul class="errors">
              {% for error in loginform.password.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          </p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script type="text/javascript">
    $('#LoginModal').modal('show');
  </script>
{% endif %}
{% endblock %}


  