{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
	    <div class="jumbotron">
			<div class="container">
				<h2>Your waiter will arrive on your table shortly!</h2>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-4"> 
					<img class="img-responsive" src="{{ url_for('static', filename='img/waiter.png') }}">
				</div>
				{% if tid %}
					<p></p>
				{% else %}
					<div class="col-md-4"> 
						<p>We have received your request. Your waiter will be at your table soon!</p>
					</div>
				{% endif %}				
			</div>
		</div>

{% endblock %}
